---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Image1 from '/images/image1.png';
import ImageNova from '/images/nova.png';
import ImageSandra from '/images/sandra.webp';
import ImagePatrik from '/images/patrik.webp';
---

<Layout
  title='Om Oss - Klädd för förändring'
  description='Kort beskrivning om vi som skapat denna sida'
  canonicalURL='https://yrgo-sammanslaget.vercel.app/about'
>
  <main class='max-w-6xl mx-auto px-4 xl:px-0 mt-[110px]'>
    <div class='flex-col sm:flex sm:flex-row sm:justify-between'>
      <div>
        <h1 class='font-semibold text-[46px]'>Om Oss</h1>
        <p class='w-full max-w-xl leading-8 mt-[16px] text-[20px]'>
          Vi som står bakom denna interaktiva upplevelse är en grupp studenter
          från Yrgo. Tillsammans har vi skapat vårt koncept och utifrån våra
          respektive utbildningar har vi bidragit med det vi kan bäst.
        </p>
        <p class='w-full max-w-xl leading-8 mt-[16px] text-[20px]'>
          Läs mer om Yrgo och våra utbildningar på <a
            href='https://yrgo.se'
            class='underline'
            >yrgo.se
          </a>
        </p>
      </div>
      <div>
        <img src='/images/shoes.png' alt='Ett par skor' class='lg:mr-20 mx-auto'
        />
      </div>
    </div>
    <h2 class='font-medium text-[29px] mt-[50px] sm:mt-0'>Teamet</h2>
    <div
      class='mb-[260px] mt-[228px] flex flex-wrap gap-y-52 gap-x-32 w-full items-center justify-center'
    >
      <Card
        name='Sandra Caraan'
        role='Game Creator Artist'
        description='Som Game Creator Artist har skapat och illustrerat skyltfönstret som vårt bidrag bygger på, ett arbete som gjorts i Photoshop.'
        website='https://google.com'
        email='hej@hej.com'
        image={ImageSandra}
      />
      <Card
        name='Jesper Johansson'
        role='Game Creator Programmer'
        description='Med kodning och utveckling i Unity har jag som Game Creator Programmer ansvarat för att skyltfönstret är en interaktiv upplevelse.'
        website='https://google.com'
        email='hej@hej.com'
        image={Image1}
      />
      <Card
        name='Patrik Staaf'
        role='Webbutvecklare'
        description='Som webbutvecklare har jag skapat denna webbplats och ansvarat för dess funktion, ​​implementation av Unity samt publicering på webben.'
        website='https://google.com'
        email='hej@hej.com'
        image={ImagePatrik}
      />
      <Card
        name='Nova Lindberg'
        role='UX Designer'
        description='I rollen som UX Designer har jag lett idégenerering, skapat wireframes och style guide i Figma och säkerställt användarvänligheten.'
        website='https://google.com'
        email='hej@hej.com'
        image={ImageNova}
      />
      <Card
        name='Amanda Cremanti'
        role='UX Designer'
        description='I projektet har jag stöttat som projektledare, lett idégenerering, producerat copy och style guide samt säkerställt användarvänligheten.'
        website='https://google.com'
        email='hej@hej.com'
        image={Image1}
      />
    </div>
  </main>
  <Footer />
</Layout>
