---
export interface Props {
  name: string;
  role: string;
  description: string;
  website?: string;
  email?: string;
  image: string;
  linkedin?: string;
}

const { name, role, description, website, email, image, linkedin } =
  Astro.props as Props;
---

<div
  class='bg-white rounded-xl text-center w-full max-w-[280px] p-4 pt-[110px] relative'
>
  <img
    src={image}
    alt={name}
    class='absolute top-[-35%] rounded-full ml-[0.7rem] object-cover h-[225px] w-[225px]'
  />
  <p class='font-semibold text-[19px] leading-5'>{name}</p>
  <p class='text-[#5B5D6B] text-[16px] leading-5 mt-[12px]'>{role}</p>
  <p class='text-[16px] leading-6 mt-[28px]'>{description}</p>
  <div class='flex space-x-4 justify-center items-center w-full mt-[22px]'>
    {
      website && (
        <a href={website}>
          <svg
            width='22'
            height='22'
            viewBox='0 0 22 22'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path
              d='M21 11C21 16.5228 16.5228 21 11 21M21 11C21 5.47715 16.5228 1 11 1M21 11H1M11 21C5.47715 21 1 16.5228 1 11M11 21C8.79086 21 7 16.5228 7 11C7 5.47715 8.79086 1 11 1M11 21C13.2091 21 15 16.5228 15 11C15 5.47715 13.2091 1 11 1M1 11C1 5.47715 5.47715 1 11 1'
              stroke='#5B5D6B'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='hover:stroke-[#942621]'
            />
          </svg>
        </a>
      )
    }
    {
      linkedin && (
        <a href={linkedin}>
          <svg
            width='22'
            height='23'
            viewBox='0 0 22 23'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
            class='svgfill'
          >
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d='M2.7206e-07 2.338C2.7206e-07 1.85053 0.193646 1.38303 0.538338 1.03834C0.88303 0.693648 1.35053 0.500002 1.838 0.500002H20.16C20.4016 0.499608 20.6409 0.546865 20.8641 0.639069C21.0874 0.731273 21.2903 0.866612 21.4612 1.03734C21.6322 1.20807 21.7677 1.41083 21.8602 1.63401C21.9526 1.8572 22.0001 2.09643 22 2.338V20.66C22.0003 20.9016 21.9529 21.1409 21.8606 21.3642C21.7683 21.5875 21.6328 21.7904 21.462 21.9613C21.2912 22.1322 21.0884 22.2678 20.8651 22.3602C20.6419 22.4526 20.4026 22.5001 20.161 22.5H1.838C1.59655 22.5 1.35746 22.4524 1.1344 22.36C0.911335 22.2676 0.708671 22.1321 0.537984 21.9613C0.367297 21.7905 0.231932 21.5878 0.139623 21.3647C0.0473133 21.1416 -0.000131096 20.9025 2.7206e-07 20.661V2.338ZM8.708 8.888H11.687V10.384C12.117 9.524 13.217 8.75 14.87 8.75C18.039 8.75 18.79 10.463 18.79 13.606V19.428H15.583V14.322C15.583 12.532 15.153 11.522 14.061 11.522C12.546 11.522 11.916 12.611 11.916 14.322V19.428H8.708V8.888ZM3.208 19.291H6.416V8.75H3.208V19.29V19.291ZM6.875 5.312C6.88105 5.58668 6.83217 5.85979 6.73124 6.11532C6.63031 6.37084 6.47935 6.60364 6.28723 6.80003C6.09511 6.99643 5.8657 7.15248 5.61246 7.25901C5.35921 7.36554 5.08724 7.42042 4.8125 7.42042C4.53776 7.42042 4.26579 7.36554 4.01255 7.25901C3.7593 7.15248 3.52989 6.99643 3.33777 6.80003C3.14565 6.60364 2.99469 6.37084 2.89376 6.11532C2.79283 5.85979 2.74395 5.58668 2.75 5.312C2.76187 4.77286 2.98439 4.25979 3.36989 3.88269C3.75539 3.50558 4.27322 3.29442 4.8125 3.29442C5.35178 3.29442 5.86961 3.50558 6.25512 3.88269C6.64062 4.25979 6.86313 4.77286 6.875 5.312Z'
              fill='#5B5D6B'
              class='hover:fill-[#942621]'
            />
          </svg>
        </a>
      )
    }
    {
      email && (
        <a href={email}>
          <svg
            width='23'
            height='19'
            viewBox='0 0 23 19'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path
              d='M19.375 0.5H3.625C2.72989 0.5 1.87145 0.855579 1.23851 1.48851C0.605579 2.12145 0.25 2.97989 0.25 3.875V15.125C0.25 16.0201 0.605579 16.8785 1.23851 17.5115C1.87145 18.1444 2.72989 18.5 3.625 18.5H19.375C20.2701 18.5 21.1286 18.1444 21.7615 17.5115C22.3944 16.8785 22.75 16.0201 22.75 15.125V3.875C22.75 2.97989 22.3944 2.12145 21.7615 1.48851C21.1286 0.855579 20.2701 0.5 19.375 0.5ZM18.6213 2.75L11.5 8.09375L4.37875 2.75H18.6213ZM19.375 16.25H3.625C3.32663 16.25 3.04048 16.1315 2.82951 15.9205C2.61853 15.7095 2.5 15.4234 2.5 15.125V4.15625L10.825 10.4C11.0197 10.546 11.2566 10.625 11.5 10.625C11.7434 10.625 11.9803 10.546 12.175 10.4L20.5 4.15625V15.125C20.5 15.4234 20.3815 15.7095 20.1705 15.9205C19.9595 16.1315 19.6734 16.25 19.375 16.25Z'
              fill='#5B5D6B'
              class='hover:fill-[#942621]'
            />
          </svg>
        </a>
      )
    }
  </div>
</div>
